<section id="hero">
  <div class="hero">
    <div class="text-container">
      <div class="decor">Looking for Group</div>
      <div class="large">I'm currently LFG</div>
      <div class="decor">in San Francisco</div>
    </div>
    <div class="portrait">
      <div class="pulses">
        <div class="pulse1"></div>
        <div class="pulse2"></div>
        <div class="pulse3"></div>
      </div>
    </div>
  </div>
</section>

<section id="who-i-am">
  <div class="container">
    <div class="section">
      <p class="intro-large">Hi there, I'm <span class="underline">Zethus Suen</span></p>
      <p class="intro">I'm a UI Designer & Front-end Developer currently looking to relocate for my next venture in San Francisco.</p>
      <p class="intro">In the past 2 years, I've led design & successfully shipped front-end code for two successful enterprise SaaS products in New York City.</p>
      <p class="intro">I eat, sleep and breathe <span class="underline">Photoshop</span>, <span class="underline">Sketch</span>, <span class="underline">HTML</span>, <span class="underline">CSS</span>, <span class="underline">JS</span>, <span class="underline">Ruby on Rails</span>, <span class="underline">AngularJS</span>, & <span class="underline">cat gifs</span>.</p>
      <p class="intro">I prefer using <span class="underline">git</span>, <span class="underline">.scss</span>, <span class="underline">.erb</span>, & <span class="underline">Sublime Text 2</span>.</p>
    </div>
  </div>
</section>

<section id="who-i-am">
  <div class="container alt">
    <div class="section">
      <p class="intro-large">What I'm Looking For</p>
      <p class="intro">A product design role that utilizes my development skills at an early to mid-stage startup <span class="mute">(with coffee and/or red bull)</span>. Relocation preferred.</p>
      <p class="intro">I'm interested in the following industries: payments, vendor tools, enterprise tools, social media, photography, gaming, and music.</p>
    </div>
  </div>
</section>

<section id="recent-work">
  <div class="container">
    <div class="section">
      <p class="intro-large">Some of My Recent Work</p>
      <ul class="card-list">
        <li class="card">
          <div class="card-inner">
            <img src="" alt="" id="shot1">
          </div>
        </li>
        <li class="card">
          <div class="card-inner">
            <img src="" alt="" id="shot2">
          </div>
        </li>
        <li class="card">
          <div class="card-inner">
            <img src="" alt="" id="shot3">
          </div>
        </li>
        <li class="card">
          <div class="card-inner">
            <img src="" alt="" id="shot4">
          </div>
        </li>
        <li class="card">
          <div class="card-inner">
            <img src="" alt="" id="shot5">
          </div>
        </li>
        <li class="card">
          <div class="card-inner">
            <img src="" alt="" id="shot6">
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section id="my-skills">
  <div class="container alt">
    <div class="section">
      <p class="intro-large">Skills</p>
    </div>
  </div>
</section>