<section id="about">
  <div class="post contain">
    <h1>Nice to meet you</h1>
    <p><strong>I'm Zethus Suen,</strong> a UI/UX Designer & Front-end Developer currently living in New York City. I love designing interfaces and crafting user experiences that are simple, beautiful, and easy to use.</p>
    <p>I'm currently working at <%= link_to 'Stackpop', 'https://www.stackpop.com' %>, a B2B SaaS tool that helps companies manage their IT costs. On any given day, you can find me mainly holed up in <em>Photoshop</em>, <em>Sublime Text 2</em>, or slacking on <em>Reddit</em>.</p>
    <p>In my free time, I practice latte art, follow the NFL and NBA, and tweet about useless musings in my life. You can often find me idling the #DN channel on irc.freenode.net (Designer News).</p>
    <p>I've been <%= link_to 'interviewed by the Smorrs Bros.', 'http://podcast.smorrs.com/' %>, give talks about Design & Front-end Development, and craft puzzles for people to practice SASS.
    <div class="title-divider"></div>
    <p><strong>Music:</strong> Bon Iver, Drake, Sam Cooke, Nujabes, AJ Rafael, The Smiths, Queen, Ne-Yo, Train, Mumford & Sons, Dave Matthews Band, Madeon, Flux Pavilion, Big Gigantic, The Hood Internet, Scott Melker, Kid Cudi, Wale, 2 Chainz, A$AP Rocky, + too many more...</p>
    <p><strong>TV Shows:</strong> Game of Thrones, Workaholics, Family Guy, How I Met Your Mother, The Walking Dead</p>
    <p><strong>Hobbies:</strong> Collecting GIFs</p>
    <p><strong>Books:</strong> Thoughts Without a Thinker, Seeking Wisdom, Delivering Happiness, How to Win Friends and Influence People, The Myth of Sysiphus, + many other "boring" non-fiction books</p>
    <div class="title-divider"></div>
    <p>If you'd like to contact me, feel free to send me an <a href="mailto:zethus.suen@gmail.com">e-mail</a> or <%= link_to 'tweet', 'http://www.twitter.com/zethussuen' %>.</p>
  </div>
</section>